.slider-container {
  margin: 20px; }
  .slider-container .range-bar {
    position: absolute;
    width: 200px;
    height: 10px;
    background-color: blanchedalmond; }
  .slider-container .pin {
    position: relative;
    top: 0;
    left: 0;
    background-color: brown;
    width: 10px;
    height: 10px; }
